<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OptionContract.Properties.Settings.ChatDBConnectionString"
            connectionString="Data Source=TRONGNGHIA-PC\SQLEXPRESS;Initial Catalog=ChatDB;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>